form img:nth-child(1){
    position: absolute;
    top: 31px;
    left: 22px;
    height: 40px;
    width:  40px;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
    &:hover{
        background: rgba(170, 170, 170, 0.125);
    }
}