
/* work  */
/* css start */

#HomePageSubMenu{
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 999;
}
@keyframes on_show_animation {
    0%{bottom: -500px;}
    100%{bottom: 2px;}
}

#HomePageSubMenu .user_sub_menu{
    position: absolute;
    bottom: 4px;
    left: 4px;
    display: flex;
    padding: 5px;
    gap: 10px;
    height: 550px;
    background: var(--dark_mode_bg);
    border-radius: 10px;
    overflow: hidden;
    padding-top: 10px;
    padding-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    animation:  on_show_animation 0.3s ease-in;
    
}
#HomePageSubMenu .user_sub_menu.light_mode{
    background: var(--light_mode_bg);
    color: var(--light_mode_text);
}
#HomePageSubMenu .user_sub_menu.dark_mode{
    background: var(--dark_mode_bg);
    color: var(--dark_mode_text);
}



#HomePageSubMenu .user_sub_menu .side_menu{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    min-width: 150px;
    padding-left: 5px;
    height: 100%;
}

#HomePageSubMenu .user_sub_menu .top_sub_menu_part,#HomePageSubMenu .user_sub_menu .bottom_sub_menu_part{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    width: fit-content;
}


#HomePageSubMenu .user_sub_menu .menu_item_con{
    height: 40px;
    width: 180px;

    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    border-radius: 4px;
    padding:6px;
    font-weight: 400;
    

    transition: all 0.2s ease-in-out;
    &:hover{
        background: rgba(128, 128, 128, 0.067);
    }
}
#HomePageSubMenu .user_sub_menu .menu_item_con.active{
    background: var(--color_for_ui);
    background: rgba(128, 128, 128, 0.236);
    position: relative;
    transition: all 0.5s;
}
@keyframes tttttt {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}
#HomePageSubMenu .user_sub_menu .menu_item_con.active::after{
    content: '';
    position: absolute;
    left: -10px;
    top: 20%;
    width: 5px;
    height: 70%;
    background: var(--color_for_ui);
    border-radius: 10px;
    animation: tttttt 0.6s ease-in-out;
    transition: all 0.5s;
}

#HomePageSubMenu .user_sub_menu .menu_item_con img{
    height: 80%;
}
/* #HomePageSubMenu .user_sub_menu .menu_item_con.bottom_sub_menu_part{
    
} */

#HomePageSubMenu .user_sub_menu .info_section{
    height: 100%;
    width: 350px;
    bottom: 0;
    
    overflow: hidden;
    overflow-y: scroll;
    padding: 2px;
}
#HomePageSubMenu .user_sub_menu .info_section .sub_info{
    border-radius: 10px;
    padding: 10px;
    height: 100%;
    min-height: fit-content;
    background: var(--dark_mode_bg_2);
}

#HomePageSubMenu .user_sub_menu .info_section .sub_info.light_mode{
    background: var(--light_mode_bg_2);
    color: var(--light_mode_text);
}
#HomePageSubMenu .user_sub_menu .info_section .sub_info.dark_mode{
    background: var(--dark_mode_bg_2);
    color: var(--dark_mode_text);
}

#HomePageSubMenu .user_sub_menu .info_section::-webkit-scrollbar{
    width: 3px;
}
#HomePageSubMenu .user_sub_menu .info_section::-webkit-scrollbar-thumb{
    background: rgb(192, 192, 192);
    border-radius: 10px;
}


#HomePageSubMenu .user_sub_menu .info_section .info_title{
   font-size: 1.4rem;
   font-weight: 500;
   margin-bottom: 15px;
}
#HomePageSubMenu .user_sub_menu .info_section .info_data{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
#HomePageSubMenu .user_sub_menu .info_section .info_data .profile_con{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
}
#HomePageSubMenu .user_sub_menu .info_section .info_data .profile_con.active::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.3),
        rgba(128, 128, 128, 0.1),
        rgba(101, 101, 101, 0.364)
      );
    background-size: 200% 10%;
    animation: gradientShift 3s linear infinite alternate;
    cursor: default;
}
#HomePageSubMenu .user_sub_menu .info_section .info_data .profile_con .profile{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
}
#HomePageSubMenu .user_sub_menu .info_section .info_data .edit_profile{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.355);
    border-radius: 50%;
    padding: 25px;
    cursor: pointer;
    /* display: none; */
}
#HomePageSubMenu .user_sub_menu .info_section .info_data .edit_profile img{
    height: 100%;
    width: 100%;
}

#HomePageSubMenu .user_sub_menu .info_section .info_data  .sub_menu{
    height: fit-content;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
    padding-left: 20px;
}


#HomePageSubMenu .user_sub_menu .info_section .info_data  .sub_menu .sub_menu_con{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: var(--dark_mode_bg);
    border-radius: 10px;
    padding: 5px;
}

#HomePageSubMenu .user_sub_menu .info_section .info_data  .sub_menu .sub_menu_con.light_mode{
    background: var(--light_mode_bg);
    color: var(--light_mode_text);
}
#HomePageSubMenu .user_sub_menu .info_section .info_data  .sub_menu .sub_menu_con.dark_mode{
    background: var(--dark_mode_bg);
    color: var(--dark_mode_text);
}


 #HomePageSubMenu .user_sub_menu .info_section .info_data  .sub_menu span,
 #HomePageSubMenu .user_sub_menu .info_section .info_data  .sub_menu label{
    text-wrap: nowrap;
    padding: 5px;
    border-radius: 6px;
    position: relative;
    cursor: pointer;
    &:hover{
        background: var(--main_color_shado);
    }
 }
 #HomePageSubMenu .user_sub_menu .info_section .info_data  .sub_menu span:nth-child(1)::after{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 1px;
    width: 100%;
    background: gray;
    border-radius: 5px;
 }

#HomePageSubMenu .user_sub_menu .info_section .info_data .item_pen_con{
    display: flex;
    align-items: flex-end;
    align-items: center;

    justify-content: space-between;

    position: relative;
}
@keyframes gradientShift {
    0% {
      background-position: 0% 0;
    }
    100% {
      background-position: 100% 0;
    }
  }



#HomePageSubMenu .user_sub_menu .info_section .info_data .item_pen_con.active::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.3),
        rgba(128, 128, 128, 0.1),
        rgba(101, 101, 101, 0.167)
      );
    background-size: 200% 100%;
    animation: gradientShift 3s linear infinite alternate;
}


#HomePageSubMenu .user_sub_menu .info_section .info_data .item_pen_con img{
    height: 35px;
    width: 35px;
    cursor: pointer;
    border-radius: 5px;
    padding: 8px;
    &:hover{
        background: var(--main_color_shado);
    }
}

#HomePageSubMenu .user_sub_menu .info_section .info_data .item_pen_con .data .title{
    margin-bottom: 4px;
    font-size: 1.15rem;
}
#HomePageSubMenu .user_sub_menu .info_section .info_data .item_pen_con .data input{
    padding: 6px;
    padding-left: 0;
    width: 250px;
    outline: 0;
    border: 0;
    font-size: 1rem;
    background:transparent;
    cursor: default;
    transition: all 0.2s ease-in-out;
}
#HomePageSubMenu .user_sub_menu .info_section .info_data .item_pen_con .data textarea{
    font-family:sans-serif;
    font-size: 1rem;
    resize: none; 
    overflow: hidden;
    width: 250px;
    box-sizing: border-box;
    padding: 6px;
    padding-left: 0;
    outline: 0;
    border: 0;
    background: transparent;
    cursor: default;
    transition: all 0.2s ease-in-out;
}
/* textarea */
#HomePageSubMenu .user_sub_menu .info_section .info_data .item_pen_con .data textarea.set_dark_input{
    color: var(--dark_mode_text);
}
#HomePageSubMenu .user_sub_menu .info_section .info_data .item_pen_con .data textarea.set_Light_input{
    color: var(--light_mode_text);
}
/* input */
#HomePageSubMenu .user_sub_menu .info_section .info_data .item_pen_con .data input.set_dark_input{
    color: var(--dark_mode_text);
}
#HomePageSubMenu .user_sub_menu .info_section .info_data .item_pen_con .data input.set_Light_input{
    color: var(--light_mode_text);
}

/* textarea active - no  */
#HomePageSubMenu .user_sub_menu .info_section .info_data .item_pen_con .data textarea.active{
    background: var(--main_color_shado);
    border-radius: 5px;
    padding: 6px;
    font-size: 1rem;
    border-bottom: 2px solid var(--color_for_ui);
    cursor: auto;
}
/* input active - no  */
#HomePageSubMenu .user_sub_menu .info_section .info_data .item_pen_con .data input.active{
    background: var(--main_color_shado);
    border-radius: 5px;
    padding: 6px;
    font-size: 1rem;
    border-bottom: 2px solid var(--color_for_ui);
    cursor: auto;
}

#HomePageSubMenu .user_sub_menu .info_section .info_data .last_message .buttons_con{
    display: flex;
    gap: 12px;
}

#HomePageSubMenu .user_sub_menu .info_section .info_data .last_message .change_password,
#HomePageSubMenu .user_sub_menu .info_section .info_data .last_message .button_log_out{
    background: rgba(128, 128, 128, 0.145);
    outline: 0;
    border: 0;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1rem;
    color: var(--dark_mode_text);
    cursor: pointer;
    margin-bottom: 10px;
    transition: color 0.2s ease;
    margin-top: 10px;
    margin-bottom: 30px;
}
/* button_log_out */
#HomePageSubMenu .user_sub_menu .info_section .info_data .last_message .button_log_out.light_mode{
    color: var(--light_mode_text);
    &:hover{
        color: rgb(232, 79, 79);
        background: rgba(128, 128, 128, 0.264);
    }
}
#HomePageSubMenu .user_sub_menu .info_section .info_data .last_message .button_log_out.dark_mode{
    color: var(--dark_mode_text);
    &:hover{
        color: rgb(232, 79, 79);
        background: rgba(128, 128, 128, 0.264);
    }
}
/* change_password */
#HomePageSubMenu .user_sub_menu .info_section .info_data .last_message .change_password.light_mode{
    color: var(--light_mode_text);
    &:hover{background: rgba(128, 128, 128, 0.264);}
}
#HomePageSubMenu .user_sub_menu .info_section .info_data .last_message .change_password.dark_mode{
    color: var(--dark_mode_text);
    &:hover{background: rgba(128, 128, 128, 0.264);}
}



#HomePageSubMenu .user_sub_menu .info_section .info_data .last_message p{
    color: rgb(175, 175, 175);
}
.line_div{
    height: 1px; 
    width: 100%;
    background: rgb(120, 120, 120);
    border: 2px;
}



/*  */
/*  */
/*  */
/*  */
/*  */


#HomePageSubMenu .user_sub_menu .info_section .info_data .title{
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 10px;
}
#HomePageSubMenu .user_sub_menu .info_section .info_data .block_list_email{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#HomePageSubMenu .user_sub_menu .info_section .info_data .block_list_email .email_con{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#HomePageSubMenu .user_sub_menu .info_section .info_data .block_list_email p{
    max-width: 250px;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    font-weight: 300;
}
#HomePageSubMenu .user_sub_menu .info_section .info_data .block_list_email span{
    padding: 6px 15px;
    outline: 0;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    background: rgba(128, 128, 128, 0.192);
    &:hover{
        background: rgba(183, 183, 183, 0.37);
    }

}